<div class="columns is-centered">
    <div class="columns is-half">
        <div class="box" >
            <h3 class="title">Add quote!</h3>
            <div class="field">
                <label class="label">Quote</label>
                <div class="control">
                    <input type="text" class="input">
                </div>
            </div>
            <div class="field">
                <label class="label">Author</label>
                <div class="control">
                    <input type="text" class="input">
                </div>
            </div>
            <p class="title">Full quote</p>
            <p class="title">Full quote</p>
            <button class="button is-link">Dodaj citat</button>
        </div>
    </div>
</div>